/* No files to import found in abstractions/**\/* */
img, media {
  max-width: 100%;
}

.contact-us-block {
  text-align: right;
}
.contact-us-block h2 {
  display: none;
}

.social-sprite, .icon-facebook, .icon-facebook:hover, .icon-twitter, .icon-twitter:hover, .icon-gplus, .icon-gplus:hover, .icon-contact, .icon-contact:hover, .icon-linkedin, .icon-linkedin:hover {
  background-image: url('../images/generated/../images/social-s32b67fc26c.png');
  background-repeat: no-repeat;
}

.icon {
  width: 26px;
  height: 26px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

.icon-facebook {
  background-position: 0 -26px;
}
.icon-facebook:hover {
  background-position: 0 0;
}

.icon-twitter {
  background-position: 0 -234px;
}
.icon-twitter:hover {
  background-position: 0 -208px;
}

.icon-gplus {
  background-position: 0 -78px;
}
.icon-gplus:hover {
  background-position: 0 -52px;
}

.icon-contact {
  background-position: 0 -182px;
}
.icon-contact:hover {
  background-position: 0 -156px;
}

.icon-linkedin {
  background-position: 0 -130px;
}
.icon-linkedin:hover {
  background-position: 0 -104px;
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: inline-block;
  margin: 0 0 10px 10px;
}

.l-region--navigation h2 {
  display: none;
}

.site-name {
  display: none;
}

.site-slogan {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
  margin-top: -15px;
}

.l-footer h2 {
  display: none;
}

@media (min-width: 44em) {
  .site-connections-block {
    float: right;
  }
}
@media (min-width: 44em) {
  .core-business-teaser .l-grid > li {
    width: 30%;
  }
}
@media (min-width: 44em) {
  .product-teaser .l-grid > li {
    width: 48%;
  }
}
