/* No files to import found in abstractions/**\/* */
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Lato);
img, media {
  max-width: 100%;
}

.l-header {
  padding-top: 10px;
  border-bottom: 2px solid #2A22D3;
}

.l-footer {
  border-top: 2px solid #1A1A1A;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #313233;
}

body {
  font-family: 'Lato', sans-serif;
  color: #555555;
  line-height: 2em;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #313233;
  transition: all 0.3s ease;
}
a:hover, a:focus {
  color: #0B2A74;
}

.contact-us-block h2 {
  display: none;
}

.front .l-content > h1 {
  display: none;
}

.home-intro {
  margin: 20px 0;
  text-align: center;
}

.frontpage-core-business {
  display: block;
  font-size: 150%;
}
.frontpage-core-business a {
  text-decoration: none;
}

.social-sprite, .icon-facebook, .icon-facebook:hover, .icon-twitter, .icon-twitter:hover, .icon-gplus, .icon-gplus:hover, .icon-contact, .icon-contact:hover, .icon-linkedin, .icon-linkedin:hover {
  background-image: url('../images/generated/../images/social-s32b67fc26c.png');
  background-repeat: no-repeat;
}

.icon {
  width: 26px;
  height: 26px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

.icon-facebook {
  background-position: 0 -26px;
}
.icon-facebook:hover {
  background-position: 0 0;
}

.icon-twitter {
  background-position: 0 -234px;
}
.icon-twitter:hover {
  background-position: 0 -208px;
}

.icon-gplus {
  background-position: 0 -78px;
}
.icon-gplus:hover {
  background-position: 0 -52px;
}

.icon-contact {
  background-position: 0 -182px;
}
.icon-contact:hover {
  background-position: 0 -156px;
}

.icon-linkedin {
  background-position: 0 -130px;
}
.icon-linkedin:hover {
  background-position: 0 -104px;
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: inline-block;
  margin: 0 0 10px 10px;
}

.l-region--navigation h2 {
  display: none;
}

.site-name {
  display: none;
}

.site-slogan {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
  margin-top: -15px;
}

.l-footer h2 {
  display: none;
}

.main-menu a {
  padding: 5px 0.5em;
}
.main-menu a:hover, .main-menu a.active, .main-menu a.active-trail {
  padding-bottom: 0;
  border-bottom: 5px solid #2A22D3;
  color: #313233;
}
.main-menu li.first > a {
  padding-left: 0;
}
.main-menu li.first > a.active {
  border-bottom: none;
}

.site-connections-block a {
  transition: none;
}
