@import url(http://fonts.googleapis.com/css?family=Oswald:300|Open+Sans);
input {
  max-width: 100%;
}

@media (min-width: 44em) {
  .contact-form textarea, .contact-form input[type="text"], .contact-form .grippie {
    width: 600px;
  }
}
ol, ul {
  padding: 0;
}

ul {
  list-style: none;
}

img, media {
  max-width: 100%;
  text-align: center;
}

.l-header {
  padding-top: 10px;
  border-bottom: 2px solid #0B3386;
}

.l-footer {
  border-top: 2px solid #1A1A1A;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #000000;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-size: 1em;
  line-height: 1.8;
  background-color: #FFFFFF;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover, a:focus {
  color: #0B3386;
}

.breadcrumb {
  font-size: 85%;
}
.breadcrumb li {
  display: inline;
}

#comments {
  margin: 20px 0;
  padding: 2em;
  border: 1px solid #DDD;
  border-radius: 1em;
}
#comments article {
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
}

.contact-us-block {
  font-size: 85%;
}
.contact-us-block h2 {
  display: none;
}

@media (min-width: 44em) {
  .contact-us-block {
    text-align: right;
  }
}
.field--tags.inline {
  display: inline;
}

.field-label {
  font-weight: bold;
}

.field--full-image {
  text-align: center;
}

.field--team-role {
  font-style: italic;
  font-size: 95%;
  margin-bottom: 4em;
}

.not-logged-in .field--team-role {
  margin-top: -1.875em;
}

.front .l-content > h1 {
  display: none;
}
.front .block__title {
  margin-top: 20px;
  padding-top: 40px;
  text-align: left;
}
.front .view {
  text-align: center;
}

.home-intro {
  margin: 10px 0;
  text-align: center;
  padding-top: 10px;
}
.home-intro p {
  font-size: 1.2em;
}

.frontpage-core-business {
  display: block;
  font-size: 150%;
}

.social-sprite, .icon-facebook, .icon-facebook:hover, .icon-twitter, .icon-twitter:hover, .icon-gplus, .icon-gplus:hover, .icon-contact, .icon-contact:hover, .icon-linkedin, .icon-linkedin:hover {
  background-image: url('../images/generated/../images/icons/social-s7b0e1258ea.png');
  background-repeat: no-repeat;
}

.social32-sprite, .icon-twitter-32, .icon-linkedin-32, .icon-github-32 {
  background-image: url('../images/generated/../images/icons/social32-sec9e16f980.png');
  background-repeat: no-repeat;
}

.icon {
  width: 26px;
  height: 26px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

.icon-facebook {
  background-position: 0 -26px;
}
.icon-facebook:hover {
  background-position: 0 0;
}

.icon-twitter {
  background-position: 0 -234px;
}
.icon-twitter:hover {
  background-position: 0 -208px;
}

.icon-gplus {
  background-position: 0 -78px;
}
.icon-gplus:hover {
  background-position: 0 -52px;
}

.icon-contact {
  background-position: 0 -182px;
}
.icon-contact:hover {
  background-position: 0 -156px;
}

.icon-linkedin {
  background-position: 0 -130px;
}
.icon-linkedin:hover {
  background-position: 0 -104px;
}

#edlynk-apps .mail {
  background-image: url("../images/icons/edlynk/email.png");
  background-position: top center;
  background-repeat: no-repeat;
}
#edlynk-apps .doc {
  background-image: url("../images/icons/edlynk/doc.png");
  background-position: top center;
  background-repeat: no-repeat;
}
#edlynk-apps .calc {
  background-image: url("../images/icons/edlynk/calc.png");
  background-position: top center;
  background-repeat: no-repeat;
}
#edlynk-apps .storage {
  background-image: url("../images/icons/edlynk/storage.png");
  background-position: top center;
  background-repeat: no-repeat;
}
#edlynk-apps .talk {
  background-image: url("../images/icons/edlynk/talk.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-32 {
  height: 33px;
  width: 33px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

.icon-twitter-32 {
  background-position: 0 -66px;
}

.icon-linkedin-32 {
  background-position: 0 -32px;
}

.icon-github-32 {
  background-position: 0 0;
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: inline-block;
  margin: 0 0 10px 10px;
  vertical-align: top;
}

.l-region--navigation h2 {
  display: none;
}

.responsive-menus .toggler {
  width: 90px;
  color: #0B3386;
  /*position: absolute;
  top: 0;
  right: 0;*/
}

div.responsive-toggled {
  /*position: absolute;
  top: 0;
  right: 0;*/
}

.responsive-menus.responsified span.toggler {
  padding: 1px;
  display: block;
  background: none;
  color: #0B3386;
  border-radius: 5px;
  box-shadow: none;
  font-size: 1.35em;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
  border-bottom: none;
}

.responsive-menus.responsified .responsive-menus-simple li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  display: block;
  margin: 0;
  padding: 0.5em 5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}

.responsive-menus.responsified .responsive-menus-simple {
  display: none;
  max-width: 320px;
  background: #0b3182;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: none;
}

.l-region--sidebar-first li, .l-region--sidebar-second li {
  border-bottom: 1px solid #DDD;
  padding-top: 5px;
  padding-bottom: 2px;
}
.l-region--sidebar-first .links--inline li, .l-region--sidebar-second .links--inline li {
  border-bottom: none;
}

.site-name {
  display: none;
}

.site-slogan {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
  margin-top: -25px;
}

.not-front .block h2 {
  border-top: 2px solid #0B3386;
  padding-top: 5px;
  margin-top: 80px;
}

.l-footer h2 {
  display: none;
}

.main-menu a {
  padding: 5px 0.5em;
}
.main-menu a:hover, .main-menu a.active, .main-menu a.active-trail {
  padding-bottom: 0;
  border-bottom: 5px solid #0B3386;
  color: #000000;
}
.main-menu li.first > a {
  padding-left: 0;
}
.main-menu li.first > a.active {
  border-bottom: none;
}

@media (min-width: 44em) {
  .site-connections-block {
    float: right;
  }
}
.site-connections-block a {
  transition: none;
}

.node--blog--teaser .field--node-link {
  float: right;
}
.node--blog--teaser .field-label {
  display: none;
}
.node--blog--teaser .field--image {
  float: left;
  margin-right: 1.5em;
}
.node--blog--teaser .field--title h2 {
  margin-bottom: 5px;
}

.blog-meta {
  font-size: 80%;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.blog-author {
  font-style: italic;
  text-transform: none;
  color: #565656;
}

.blog-listing li {
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media (min-width: 44em) {
  .core-business-teaser .l-grid > li {
    width: 30%;
    padding-right: 2em;
  }
  .core-business-teaser .view-mode-teaser h2, .core-business-teaser .view-mode-teaser .field--body, .core-business-teaser .view-mode-teaser .cb-more-link {
    text-align: left;
  }
}
.cb-more-link a {
  letter-spacing: 0.02em;
}

.view-mode-cover .cb-training a {
  color: #2700b8;
}
.view-mode-cover .cb-development a {
  color: #ff2ade;
}
.view-mode-cover .cb-consulting a {
  color: #00f74d;
}

@media (min-width: 70em) {
  .not-front .has-no-sidebars .view-mode-full {
    width: 75%;
    margin: auto;
  }
}
.product-cover li {
  padding-top: 30px;
  border-bottom: 1px solid #DDD;
}
.product-cover li:last-child {
  border-bottom: none;
}
.product-cover .node__title {
  display: none;
}

.field--product-image {
  text-align: center;
}

@media (min-width: 44em) {
  .product-cover .l-grid > li {
    width: 30%;
    text-align: center;
  }
  .product-cover ul {
    text-align: center;
  }
  .product-cover li {
    border-bottom: none;
    border-right: 1px solid #DDD;
    padding-right: 2em;
  }
  .product-cover li:last-child {
    border-right: none;
  }

  .product-teaser ul {
    text-align: center;
  }
  .product-teaser .l-grid > li {
    width: 30%;
    padding-right: 2em;
    margin-right: 3%;
    text-align: left;
  }
}
#edlynk-apps {
  text-align: center;
}
#edlynk-apps h2 {
  margin-top: 50px;
  padding-top: 40px;
  border-bottom: 1px solid #DDD;
}

.profile-image img {
  border: 5px solid #FFF;
  box-shadow: 1px 1px 4px #858585;
  text-align: center;
  margin-top: 40px;
}

.team-members img {
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
.team-members ul > li {
  width: 320px;
}
.team-members .user-role {
  font-size: 90%;
  font-style: italic;
}
