.node--blog--teaser {
  .field--node-link {
    float: right;
    //display: inline;
  }
  
  .field--image {
    float: left;
    margin-right: 1.5em;
  }
  
  .field--title h2 {
    margin-bottom: 5px;
  }
}

.blog-meta {
  font-size: 80%;
  color: #000; //darken($header, 1);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.blog-author {
  font-style: italic;
  text-transform: none;
  color: lighten($font, 0.3);
  a {
    //color: lighten($links, 0.3);
  }
}

.blog-listing {
  li {
    border-bottom: 1px solid $list-underline;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}