.product-cover {
  li {
    padding-top: 30px;
    background-color: #eee;
    
    article {
      margin: 1em;
    }
  }
  .node__title {
    display: none;
  }
}

.field--product-image {
  text-align: center;
}

@include breakpoint($tab) {
  .product-cover {
    .l-grid > li {
      width: 48%;
      text-align: center;
    }
    
    ul {
      //text-align: center;
    }
    
    li {
      border-bottom: none;
      border-right: 1px solid $list-underline;
      padding-right: 2em;
    }
    li:last-child {
      border-right: none;
    }
  }
  
  .product-teaser {
    ul {
      text-align: center;
    }
    .l-grid > li {
      width: 30%;
      padding-right: 2em;
      margin-right: 3%;
      text-align: left;
    }
  }
}

#edlynk-apps {
  text-align: center;
  h2 {
    margin-top: 50px;
    padding-top: 40px;
    @include underline;
  }
}