.product-cover {
  li {
    padding-top: 30px;
    @include underline;
    
    &:last-child {
      border-bottom: none;
    }
  }
  .node__title {
    display: none;
  }
}

.field--product-image {
  text-align: center;
}

@include breakpoint($tab) {
  .product-cover {
    .l-grid > li {
      width: 48%;
      text-align: center;
    }
    
    ul {
      text-align: center;
    }
    
    li {
      border-bottom: none;
      border-right: 1px solid $list-underline;
      padding-right: 2em;
    }
    li:last-child {
      border-right: none;
    }
  }
  
  .product-teaser {
    .l-grid > li {
      width: 45%;
      padding-right: 2em;
      margin-right: 3%;
    }
  }
}

#edlynk-apps {
  text-align: center;
  h2 {
    margin-top: 50px;
    padding-top: 40px;
    @include underline;
  }
}