/*******************************************************************************
 * passive.layout.scss
 *
 * Styling of the "passive" layout demonstrating the Compass grid extension Singularity
 * and building mobile first layouts.
 ******************************************************************************/
.l-constrained {
  width: 90%;
  margin: 0 auto;
}

.l-header,
.l-main,
.l-postscript,
.l-footer {
  margin-bottom: 20px;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second,
.l-region--postrow,
.l-region--postscript-first,
.l-region--postscript-second,
.l-region--postscript-third,
.l-region--footer {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
  .l-constrained {
    width: 90%;
  }

  .l-main {
    clear: left;
  }

  .l-branding {
    -sgs-span-settings: ("span": 4, "location": 1, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .l-region--header {
    -sgs-span-settings: ("span": 8, "location": 5, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 65.95745%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    -sgs-span-settings: ("span": 8, "location": 1, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    -sgs-span-settings: ("span": 4, "location": 9, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right;
  }

  .l-postscript,
  .l-footer {
    clear: both;
  }

  .l-region--copyright {
    -sgs-span-settings: ("span": 8, "location": 1, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .l-region--footer {
    -sgs-span-settings: ("span": 4, "location": 9, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 70em) {
  .l-constrained {
    width: 85%;
  }

  .l-branding {
    -sgs-span-settings: ("span": 6, "location": 1, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 36.50794%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .l-region--header {
    -sgs-span-settings: ("span": 10, "location": 7, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 61.90476%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .has-sidebar-first .l-content {
    -sgs-span-settings: ("span": 12, "location": 1, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 74.60317%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .has-sidebar-first .l-region--sidebar-first {
    -sgs-span-settings: ("span": 4, "location": 13, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 23.80952%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .has-sidebar-second .l-content {
    -sgs-span-settings: ("span": 12, "location": 1, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 74.60317%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .has-sidebar-second .l-region--sidebar-second {
    -sgs-span-settings: ("span": 4, "location": 13, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 23.80952%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none;
  }

  .has-two-sidebars .l-content {
    -sgs-span-settings: ("span": 8, "location": 1, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 49.20635%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-first {
    -sgs-span-settings: ("span": 4, "location": 9, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 23.80952%;
    float: left;
    margin-right: -100%;
    margin-left: 50.79365%;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-second {
    -sgs-span-settings: ("span": 4, "location": 13, "grid": 16, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 23.80952%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none;
  }
}
