form.contact-form {
  padding-right: 2.5em;
}

.contact-form {
  input[type='text'], textarea {
    background-color: #eee;
    border: none;
    &:focus {
      background-color: #fff9b2;
    }
  }
}


@include breakpoint($tab) {
  .contact-form {
    textarea, input[type="text"], .grippie {
      width: 100%;
    }
  }
}

@include breakpoint($desk) {
  .contact-form {
    .form-item-name,
    .form-item-mail,
    .form-item-phone,
    .form-item-company {
      width: 47%;
      margin-right: 5%;
      display: inline-block;
    }
    
    .form-item-mail,
    .form-item-company {
      margin-right: 0;
    }
  }
}

.block--conzultrix-contact-conzultrix-more-contact {
  .label {
    font-weight: bold;
  }
  h3 {
    border-bottom: 1px solid $hover;
  }
  .email, .phone, .social{
    font-size: 90%;
  }
}

.contact-intro {
  margin-bottom: 40px;
}

.contact-email, .contact-phone, .contact-social {
  margin-bottom: 40px;
}