.field--tags.inline {
  display: inline;
}

.field-label {
  font-weight: bold;
}

.field--full-image {
  text-align: center;
}

.field--image {
  text-align: center;
}

.field--team-role {
  font-style: italic;
  font-size: 95%;
  margin-bottom: 4em;
}

.not-logged-in .field--team-role {
  margin-top: -1.875em;
}