.front .l-content > h1 {
  display: none;
}

.home-intro {
  margin: 20px 0;
  text-align: center;
  
  p {
    font-size: 1.2em;
  }
}

.frontpage-core-business {
  display: block;
  font-size: 150%;
}