.front {
  .l-main {
    background-color: $hover;
    margin-top: -20px;
    padding: 20px 0;
  }
  .l-content > h1 {
    display: none;
  }
  .block__title {
    margin-top: 20px;
    padding-top: 40px;
    text-align: left;
  }
  .view {
    text-align: center;
  }
  #block-views-core-business-block .block__title {
    display: none;
  }
}

.home-intro {
  margin: 10px 0;
  text-align: center;
  padding: 10px 0;
  color: #FFF;
  
  
  p {
    font-size: 2em;
  }
}

.frontpage-core-business {
  display: block;
}
.fp-tech, .fp-biz {
  font-size: 150%;
}
.fp-tech{
  margin-right: 0.2em;
}
.fp-biz {
  margin-left: 0.2em;
}
 