// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

//@include add-grid(4);
//@include add-gutter(1/3);
//@include add-grid(12 at 44em);
//@include add-grid(16 at 70em);


$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
