.not-front  .block {
  h2 {
    border-top: 2px solid $hover;
    padding-top: 5px;
    //margin-top: 80px;
  }
}

.l-region--sidebar-first, .l-region--sidebar-first {
  .block {
    margin-top: 80px;
  }
}




